.filterBarWrapper {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  gap: 5px;
  margin: 10px 5px 0 10px;
}

.filterOption{
  display:flex;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(154, 136, 136);
  border-radius: 3px;
  font-size: 1.5rem;
}